h1{
    color: red;
    font-size: 4em;
    background-color: gray;
    
    
    
}

h2{
    font-size: 3em;
    color: green;
    background-color: aqua;
}

h1,h2{
    width: 50%;
}

h6{
    width: 100%;
    font-size: 30px;
    background-color: blue;
}




body{
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}